/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
    margin: 0;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
body {
    background: #fff;
    margin: 0;
    color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #666;
    margin-top: 10px;
}

p.alcohol-copy {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.centered {
    text-align: center
}
.mt {
    margin-top: 50px;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width:100%;
}
::-moz-selection  {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: background-color .4s linear, color .4s linear;
    color: #1abc9c;
}
a:hover,
a:focus {
    text-decoration: none;
    color:#696E74;
}


.btn:hover {
    background: #ffffff;
}

hr {
    border: 1px solid #1abc9c;
    width: 120px;
}

h4 {
    font-weight: 700;
}

#root {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

.App {
    text-align: center;
    width:100%;
}

.landing-page {
    background: url(./bg.png) no-repeat center top;
    padding-top: 60px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.landing-page .container {
    z-index: 3;
    position: relative;
    width: 430px;

    /* vertically center */
    height: 75%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
}

.main {
    background: #ffffff;
    padding-right: 4rem;
}

.form {
    margin-top: .85rem;
}

.backdrop {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.landing-page h3.logo {
    font-weight: 900;
    text-align: center;
    color: white;
    border: 3px solid white;
    width: 305px;
    padding: 12px;
}
.landing-page h3.logo img {
    max-width: 100%;
    margin-right: -15rem;
}
.landing-page h1 {
    color: white;
    font-size: 70px;
    letter-spacing: -2px;
    word-spacing: 3px;
}
.landing-page h2 {
    color: white;
}

.landing-page p {
    clear: both;
    float: right;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: right;
}

.landing-page strong {
    font-weight: normal;
}

.landing-page .continue {
    font-size: 30px;
    color: #1abc9c;
    margin-top: 80px;
}

/* GENERAL CONF */
i {
    margin-right: 10px;
}

input {
    color: #ffffff;
    font-size: 18px;
    min-height: 40px;
    line-height: 20px;
    padding: 11px 30px 12px;
    transition: background-color 0.2s;
    background: transparent;
    border: 1px solid #ffffff;
    border-right: none;
    outline: none;
}

input:focus { 
    border: 1px solid #ffffff !important;
    border-right: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.sign-up {
    float: left;
    width: 65%;
    text-align: left;
}

.sign-up-button {
    background: #F2F1EF;
    border-radius: 0;
    border: 1px solid #DAD9D7;
    color: #000000;
    float: left;
    padding: 1rem 4rem;
    text-transform: uppercase;
    width: 35%;
}

@media (max-width: 767px) {
    .sign-up {
        width: 70%;
    }
    .landing-page h1 {
        font-size: 35px;
    }
    .landing-page h3.logo {
        margin-bottom: 50px;
    }
}

@media (max-width: 570px) {
    .sign-up {
        width: 100%;
    }
}